<div class="sq-value">
    <div class='sq-wait'>Computing in progress...</div>
    <div class='sq-error'>An error has occurred</div>
    <div class='content'>
        <label>{{label}}</label>
        <span class='sq-value'>{{value}}</span>
        <span class='sq-unit'>{{unit}}</span>
    </div>
</div>